<!DOCTYPE html>


<style>
    @font-face {
        font-family: 'MonospaceTypewriter';
        src: url(MonospaceTypewriter.ttf) format("truetype");
    }

    * {
        font-family: MonospaceTypewriter;
        border-radius: 10px;
    }

    .tab_thing {
        text-align: center;
        flex: 4
    }

    #m_b>button {
        background-color: #ffcc77;
    }
    #d_b>button {
        background-color: #ccff77;
    }

    #upg>button {
        flex: 1;
        font-size: 0.9rem;
        min-width: 18%;
    }

    #upg {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 10px
    }

    #tab_section {
        display: flex; 
        flex-direction: row; 
        gap: 10px;
        background-color: #cccccc;
        padding: 10px
    }
</style>

<html>
<div id="app">
    <div style="display: flex; flex-direction: column;">
        <div style="flex: 1">
            <a href="https://www.kumon.com/" style="display: inline-flex; background-image: url(logo.svg); background-repeat: no-repeat; width: 205px; height: 50px"></a> Incremental
            <div id="tab_section"></div>
            <progress id="prog" style="width: 100%" value="0" max="100"></progress>
            <div style="display: flex; flex-direction: row; text-align: center;" id="bruh">
                <div style="flex: 1">{{get_level_name(level)}} #{{level%10+1}}</div>
                <div style="flex: 1">{{get_level_text(level+Number(percent(player.skill, level).times(-1))/100)[1]}}</div>
                <div style="flex: 1">{{(level/45.9).toFixed(3)}}% finished</div>
            </div>
            <hr>
            <span style="display: block; width: 100%; text-align: center;">
                Data: {{format(player.skill,4)}}<small> / <i>{{format(get_level_pt_req(level),4)}}</i></small>
                <br>{{skill_relative().gte(1)?`*${format(skill_relative())}/s`:`${format(skill_gain())}/s`}}</span><br>
            <button onclick="if (player.points.eq(0)){player.points = new Decimal(1)}">Start the grind.<br>Cost:
                Nothing</button>
            <button v-if="hasUpgrade(15) && player.tab=='main'" onclick="player.upage = Math.max(player.upage-1,0)">Previous
                    page</button>
            <button v-if="hasUpgrade(15) && player.tab=='main'" onclick="player.upage = player.upage+1">Next page</button>
        </div>
    <hr>

    <div id="upg" v-if="player.tab=='main'" class="tab_thing"></div>

    <div v-if="player.tab=='num'" class="tab_thing">
        Current counted number: {{format(player.number)}} <small>(Best: {{format(player.best_number)}})</small> ({{(get_num_chance()*100).toFixed(3)}}% for successful count)<br>
        x{{format(get_num_effect())}} data<br>
        <button style="width: 20%" onclick="roll_number()">Count! Cooldown: {{((Math.max(0,player.nn-Date.now()))/1000).toFixed(3)}}s</button>
        <div v-if="hasUpgrade(16)">
           <br><hr>
            You have written {{format(player.write)}} numbers.<br>
            x {{format(get_write_effect())}} data.<br>
            <button v-if="!hasUpgrade(32)" style="width: 20%" onclick="buy_buyable('write',player.write)">Learn how to write the next number.<br>Cost: {{format(get_buyable_cost("write",player.write))}} data</button>
        </div>
    </div>

    <div v-if="player.tab=='add'" class="tab_thing">
        Your maximum sum is {{format(player.max_sum)}}<br>
        You're using the addition 
        <span style="color: #226622">{{format(player.sums[0])}}</span> +
        <span style="color: #662222">{{format(player.sums[1])}}</span>
        <span v-if="hasUpgrade(28)">+ <span style="color: #222266">{{format(player.sums[2])}}</span></span>
        <span v-if="hasUpgrade(36)">- <span style="color: #662266">{{format(player.sums[3])}}</span></span>
        <br>
        <div v-if="!hasUpgrade(47)">
        <button style="background-color: #aaffaa;" onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[0]=player.sums[0].add(1)}">Increase Number 1</button>
        <button style="background-color: #88dd88;" onclick="player.sums[0] = player.sums[0].sub(1).max(0)">Decrease Number 1</button><br>
        <button style="background-color: #ffaaaa;" onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[1]=player.sums[1].add(1)}">Increase Number 2</button>
        <button style="background-color: #dd8888;" onclick="player.sums[1] = player.sums[1].sub(1).max(0)">Decrease Number 2</button><br>
        <div v-if="hasUpgrade(28)">
            <button style="background-color: #aaaaff;"
                onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[2]=player.sums[2].add(1)}">Increase
                Number 3</button>
            <button style="background-color: #8888dd;" onclick="player.sums[2] = player.sums[2].sub(1).max(0)">Decrease Number
                3</button><br>
        </div>
        </div>
        <div v-if="hasUpgrade(36)">
            <button style="background-color: #ffaaff;"
                onclick="player.sums[3]=player.sums[3].add(1)">Increase
                Number 4</button>
            <button style="background-color: #dd88dd;" 
            onclick="if (player.sums[0].gt(0) && player.sums[3].gt(0)){
                    player.sums[3] = player.sums[3].sub(1).max(0); 
                    player.sums[0] = hasUpgrade(47)?new Decimal(0):player.sums[0].sub(1)
                    player.skill = new Decimal(10)}"
                >Decrease Number
                4 (Requires at least 1 Adder 1, resets points)</button><br>
        </div>
        <br>
        This creates the following effects:<br>
        x{{format(add_first_effect())}} data<br>
        Count {{format(add_second_effect())}} at once<br>
        <div v-if="hasUpgrade(28)">The first & second effects of addition are {{format(add_third_effect(),4)}}x stronger</div>
        <span v-if="hasUpgrade(36)" style="color: #662222">Root point gain by {{format(add_fourth_effect(),6)}}</span>
        
        
    </div>

    <div v-if="player.tab=='sub'" class="tab_thing">
        Remove all your data to enter the subtraction world.<br>
        Current subtraction level: -{{format(player.sub_level)}}<br>
        <button style="background-color: #ffff88" onclick="player.sub = !player.sub; player.skill = new Decimal(99999); if(hasUpgrade(61)){player.sums = [new Decimal(player.sub_level.times(3)),new Decimal(player.sub_level.times(3)),new Decimal(player.sub_level.times(3)),player.sums[3]]}">{{player.sub?"Exit":"Enter"}}</button><br>
        Reach {{format(sub_req())}} to finish the subtraction.<br>
        <small>Data gain will be rooted {{format(sub_first_debuff())}}, first & third addition acts like -{{format(sub_second_debuff())}} of them are there</small>
        <br><br>
        Effects:<br>
        x{{format(sub_effect())}} writing speed
        <div v-if="hasUpgrade(38)">
            <hr>
            You currently have ({{format(player.ce)}}) challenge essence. ({{format(ce_gain())}}/s)<br>
            x{{format(ce_effect())}} point gain
        </div>
    </div>

    <div v-if="player.tab=='mul'" class="tab_thing" style="display: flex; flex-direction: column; gap: 10px">
        <div style="flex: 1;display: flex; flex-direction: row; gap: 10px">
            <div style="flex: 1; background-color: #ffaa55; padding: 10px">
                You have {{format(player.m_ess)}} multiplication essence.<br>
                +{{format(get_m_ess_gain())}}/question (Base gain)
            </div>
            <div style="flex: 1; background-color: #aaff55; padding: 10px" v-if="hasUpgrade(61)">
                You have {{format(player.d_ess)}} division essence.<br>
                +{{format(get_d_ess_gain())}}/question (Base gain)
            </div>
            </div>
        <div style="flex: 7;background-color: #eeeeee; padding: 3px">
            <span>Solve: <span style="font-size: 3rem">{{player.m_q[0]}} {{player.m_q[2]==0?"&times;":"&divide;"}} {{player.m_q[1]}}</span></span>
            <input id="multi_table"><br>
            <span id="m_gain"></span><hr>
            Multiplication buyables<br>
            <div style="display: flex; flex-direction: row; padding: 10px" id="m_b">
                <button style="flex:1" onclick="buy_m_buyable(0)">
                    &uarr; multiplication essence!<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[0],0))}} ME
                    <br>Currently: *{{format(multi_buyable_effect(player.m_buyables[0],0))}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(1)">
                    &uarr; points!<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[1],1))}} ME
                    <br>Currently: ^{{format(multi_buyable_effect(player.m_buyables[1],1))}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(2)">
                    &uarr; total sum!<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[2],2))}} ME
                    <br>Currently: *{{format(multi_buyable_effect(player.m_buyables[2],2),4)}} {{player.m_buyables[2].gte(50)?"(Softcapped)":""}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(3)">
                    &uarr; multiplications!<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[3],3))}} ME
                    <br>Currently: +{{multi_buyable_effect(player.m_buyables[3],3)}}
                </button>
            </div><br>
            <div style="display: flex; flex-direction: row; padding: 10px" v-if="hasUpgrade(61)" id="d_b">
                <button style="flex:1" onclick="buy_m_buyable(4)">
                    &darr; subtraction data nerf<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[4],4))}} DE
                    <br>Currently: /{{format(multi_buyable_effect(player.m_buyables[4],4))}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(5)">
                    &darr; nerf of "adder" #4<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[5],5))}} DE
                    <br>Currently: /{{format(multi_buyable_effect(player.m_buyables[5],5))}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(6)">
                    &darr; exercise requirement<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[6],6))}} DE
                    <br>Currently: root {{format(multi_buyable_effect(player.m_buyables[6],6))}}
                </button>
                <button style="flex:1" onclick="buy_m_buyable(7)" v-if="hasUpgrade(65)">
                    &darr; multiplication upgrades, division upgrades cost, ME<br>
                    Cost: {{format(multi_buyable_cost(player.m_buyables[7],7))}} DE
                    <br>Currently: /{{format(multi_buyable_effect(player.m_buyables[7],7))}}
                </button>
            </div>
        </div>
    </div>
    </div>

    <div v-if="player.tab=='set'">
        <button onclick="import_player()">HARD RESET</button>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="baseline/kumon_data.js"></script>

<script src="baseline/essential.js"></script>
<script src="baseline/eternity.js"></script>
<script src="baseline/format.js"></script>
<script src="tabs.js"></script>
<script src="general_upgrades.js"></script>
<script src="num.js"></script>
<script src="add.js"></script>
<script src="sub.js"></script>
<script src="multi.js"></script>
<script src="save.js"></script>
<script src="buyable_control.js"></script>
<script src="game.js"></script>
<script defer src="v.js"></script>

</html>