<!DOCTYPE html>


<style>
    @font-face {
        font-family: 'MonospaceTypewriter';
        src: url(MonospaceTypewriter.ttf) format("truetype");
    }

    * {
        font-family: MonospaceTypewriter;
        border-radius: 10px;
    }

    .tab_thing {
        left: 1%;width: 98%; height: 60%; position: fixed; top: 310px; text-align: center;
    }
</style>

<html>
<div id="app">
    <a href="https://www.kumon.com/" style="display: inline-flex; background-image: url(logo.svg); background-repeat: no-repeat; width: 205px; height: 50px"></a> Incremental
    <progress id="prog" style="width: 100%" value="0" max="100"></progress>
    <span style="text-align: center; display: block; width: 100%">{{get_level_name(level)}} #{{level%10+1}} <small>({{get_level_text(level+Number(percent(player.skill, level).times(-1))/100)}})</small>
        <br>{{(level/45.9).toFixed(3)}}% finished</span></i>
    <hr>
    <span style="display: block; width: 100%; text-align: center;">
        Data: {{format(player.skill,4)}}  <small><i>({{format(get_level_pt_req(level),4)}} for next)</i></small>
        <br>{{format(skill_gain())}}/s</span><br>
    <button onclick="if (player.points.eq(0)){player.points = new Decimal(1)}">Start the grind.<br>Cost:
        Nothing</button>
    <button v-if="hasUpgrade(15) && player.tab=='main'" onclick="player.upage = Math.max(player.upage-1,0)">Previous
            page</button>
    <button v-if="hasUpgrade(15) && player.tab=='main'" onclick="player.upage = player.upage+1">Next page</button>
    <hr>

    <div id="upg" v-if="player.tab=='main'" class="tab_thing"></div>

    <div v-if="player.tab=='num'" class="tab_thing">
        Current counted number: {{format(player.number)}} <small>(Best: {{format(player.best_number)}})</small> ({{(get_num_chance()*100).toFixed(3)}}% for successful count)<br>
        x{{format(get_num_effect())}} data<br>
        <button style="width: 20%" onclick="roll_number()">Count! Cooldown: {{((Math.max(0,player.nn-Date.now()))/1000).toFixed(3)}}s</button>
        <div v-if="hasUpgrade(16)">
           <br><hr>
            You have written {{format(player.write)}} numbers.<br>
            x {{format(get_write_effect())}} data.<br>
            <button v-if="!hasUpgrade(32)" style="width: 20%" onclick="buy_buyable('write',player.write)">Learn how to write the next number.<br>Cost: {{format(get_buyable_cost("write",player.write))}} data</button>
        </div>
    </div>

    <div v-if="player.tab=='add'" class="tab_thing">
        Your maximum sum is {{format(player.max_sum)}}<br>
        You're using the addition 
        <span style="color: #226622">{{format(player.sums[0])}}</span> +
        <span style="color: #662222">{{format(player.sums[1])}}</span>
        <span v-if="hasUpgrade(28)">+ <span style="color: #222266">{{format(player.sums[2])}}</span></span>
        <span v-if="hasUpgrade(36)">- <span style="color: #662266">{{format(player.sums[3])}}</span></span>
        <br>
        <button style="background-color: #aaffaa;" onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[0]=player.sums[0].add(1)}">Increase Number 1</button>
        <button style="background-color: #88dd88;" onclick="player.sums[0] = player.sums[0].sub(1).max(0)">Decrease Number 1</button><br>
        <button style="background-color: #ffaaaa;" onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[1]=player.sums[1].add(1)}">Increase Number 2</button>
        <button style="background-color: #dd8888;" onclick="player.sums[1] = player.sums[1].sub(1).max(0)">Decrease Number 2</button><br>
        <div v-if="hasUpgrade(28)">
            <button style="background-color: #aaaaff;"
                onclick="if(player.actual_sum.add(1).lte(player.max_sum)){player.sums[2]=player.sums[2].add(1)}">Increase
                Number 3</button>
            <button style="background-color: #8888dd;" onclick="player.sums[2] = player.sums[2].sub(1).max(0)">Decrease Number
                3</button><br>
        </div>
        <div v-if="hasUpgrade(36)">
            <button style="background-color: #ffaaff;"
                onclick="player.sums[3]=player.sums[3].add(1)">Increase
                Number 4</button>
            <button style="background-color: #dd88dd;" onclick="if (player.sums[0].gt(0) && player.sums[3].gt(0)){player.sums[3] = player.sums[3].sub(1).max(0); player.sums[0] = player.sums[0].sub(1)}">Decrease Number
                4 (Requires at least 1 Adder 1)</button><br>
        </div>
        <br>
        This creates the following effects:<br>
        x{{format(add_first_effect())}} data<br>
        Count {{format(add_second_effect())}} at once<br>
        <div v-if="hasUpgrade(28)">The first & second effects of addition are {{format(add_third_effect(),4)}}x stronger</div>
        <span v-if="hasUpgrade(36)" style="color: #662222">Root point gain by {{format(add_fourth_effect(),6)}}</span>
        
        
    </div>

    <div v-if="player.tab=='sub'" class="tab_thing">
        Remove all your data to enter the subtraction world.<br>
        Current subtraction level: -{{format(player.sub_level)}}<br>
        <button style="background-color: #ffff88" onclick="player.sub = !player.sub; player.skill = new Decimal(0)">{{player.sub?"Exit":"Enter"}}</button><br>
        Reach {{format(sub_req())}} to finish the subtraction.<br>
        <small>Data gain will be rooted {{format(sub_first_debuff())}}, first & third addition acts like -{{format(sub_second_debuff())}} of them are there</small>
        <br><br>
        Effects:<br>
        x{{format(sub_effect())}} writing speed
        <div v-if="hasUpgrade(38)">
            <hr>
            You currently have ({{format(player.ce)}}) challenge essence. ({{format(ce_gain())}}/s)<br>
            x{{format(ce_effect())}} point gain
        </div>
    </div>

    <div v-if="player.tab=='set'">
        <button onclick="import_player()">HARD RESET</button>
    </div>
    <div id="tab_section" style="position: fixed; left: 2%; width: 96%; height: 10%; top: 89%; background-color: #00000080"></div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="baseline/kumon_data.js"></script>

<script src="baseline/essential.js"></script>
<script src="baseline/eternity.js"></script>
<script src="baseline/format.js"></script>
<script src="tabs.js"></script>
<script src="general_upgrades.js"></script>
<script src="num.js"></script>
<script src="add.js"></script>
<script src="sub.js"></script>
<script src="save.js"></script>
<script src="buyable_control.js"></script>
<script src="game.js"></script>
<script defer src="v.js"></script>

</html>